<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.orz.crm.dao.DepartmentMapper">
    <resultMap id="departments" type="top.orz.crm.bean.Department">
        <id property="id" column="id"/>
        <result property="deptname" column="deptname"/>
        <result property="deptdesc" column="deptdesc"/>
        <result property="deletetime" column="deletetime"/>

        <association property="parent" javaType="top.orz.crm.bean.Department">
            <id property="id" column="parentid"/>
            <result property="deptname" column="parentname"/>
        </association>

        <association property="employee" javaType="top.orz.crm.bean.Employee">
            <id property="id" column="eid"/>
            <result property="empname" column="empname"/>
            <result property="addr" column="addr"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>

    <!--List<Department> selectDepartments(Integer start, Integer limit);-->
    <select id="selectDepartments" resultMap="departments">
        select d.id, d.deptdesc, d.deptname, p.id parentid, p.deptname parentname,
        e.id eid, e.empname, e.addr, e.phone
        from employee e, department d, department p
        where d.idelete=0 and p.idelete=0 and e.idelete=0
        and d.parentid = p.id and  d.empid=e.id
        limit #{0}, #{1}
    </select>

    <!--Integer getDepartmentCount();-->
    <select id="getDepartmentCount" resultType="Integer">
        select count(*) from department d, employee e, department p
        where d.idelete=0 and p.idelete=0 and e.idelete=0
        and d.parentid = p.id and  d.empid=e.id and d.id!=0
    </select>

    <!--void delDepartment(Integer id, String createTime);-->
    <update id="delDepartment">
            update department d, (select d.* from department d
            where not exists(
                select p.id from  department p
                where p.parentid=d.id
            )) p set d.idelete = 1, d.deletetime=#{1}
            where d.id=p.id and d.id=#{0}
    </update>

    <!--void addDepartment(Department department);-->
    <insert id="addDepartment">
        insert into department (deptname, parentid, deptdesc, empid)
        values (#{deptname}, #{parentid}, #{deptdesc}, #{empid});
    </insert>

    <!--void updateDepartment(Department department);-->
    <update id="updateDepartment">
        update department
        set deptname=#{deptname},deptdesc=#{deptdesc},empid=#{empid},parentid=#{parentid}
        where id=#{id};
    </update>

    <!--List<Department> selectDelDepartments(int i, Integer limit);-->
    <select id="selectDelDepartments" resultMap="departments">
        select d.id, d.deptdesc, d.deptname, d.deletetime, p.id parentid, p.deptname parentname,
        e.id eid, e.empname, e.addr, e.phone
        from employee e, department d, department p
        where d.idelete=1 and p.idelete=0 and e.idelete=0
        and d.parentid = p.id and  d.empid=e.id
        limit #{0}, #{1}
    </select>

    <!--Integer getDelDepartmentCount();-->
    <select id="getDelDepartmentCount" resultType="Integer">
        select count(*) from department d, employee e, department p
        where d.idelete=1 and p.idelete=0 and e.idelete=0
        and d.parentid = p.id and  d.empid=e.id
    </select>

    <!--void restoreDepartment(@Param("id") Integer id, @Param("empid") Integer empid);-->
    <update id="restoreDepartment">
        update department set idelete = 0 where id=#{id};
    </update>

    <!--void completeDelDepartment(Integer id);-->
    <delete id="completeDelDepartment">
        delete from department d where id=#{id} and id!=0
    </delete>

    <!--Integer getEmpCountByDeptId(Integer id);-->
    <select id="getEmpCountByDeptId" resultType="Integer">
        select count(*) from employee e, department d
        where e.idelete=0 and e.deptid=d.id and d.id=#{id};
    </select>
</mapper>